<mat-toolbar>
    <span routerLink="/dashboard" style="cursor: pointer;">Expense Tracker</span>

    <span style="flex: 1 1 auto;"></span>

    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/transactions">Transactions</button>
    <button mat-button routerLink="/transactions/new">Add Transaction</button>
    <button mat-button routerLink="/budgets/new">Set Budget</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>